/* /* article {
    background-size: cover;

    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
} */

/* .avatarUserOnPost,
.avatarLike {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

p {
    word-break: break-word;
    text-overflow: ellipsis;
    cursor: pointer;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

avatarLike + .avatarLike {
    margin-left: -10px;
}

.feed {
    width: auto;
    height: auto;
    background-color: var(--bordercolor);
    margin: 80px auto;
}

section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.feed .username {
    padding: 10px 30px 0px 30px;
    display: flex;
    flex-flow: row;
}

.feed .username .image,
.feed .username .image img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.feed .username a {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
}
.btn-edit,
.btn-love,
.btn-delete,
.btn-bookmark,
.btn-hide-post {
    background: none;
    color: var(--basecolorDetails);
}

.feed .username .id {
    margin: 10px 15px;
}

.feed .username .edit {
    margin: 0px 0px 10px auto;
    margin-left: 180px;
}

.feed .post {
    width: 100%;
    height: 300px;
    margin: 10px 0px;
}

.feed .post img {
    width: 100%;
    height: inherit;
}

.feed .btn-group {
    padding: 0px 10px;
}

.feed .btn-group button {
    background: none;
    border: none;
    cursor: pointer;
}

.feed .btn-group .btn-bookmark,
.btn-hide-post {
    float: right;
}

.feed .caption {
    font-size: 13px;
    padding: 0px 20px;
}

.feed .caption .like {
    font-weight: bold;
}

.feed .caption .id {
    color: #000000;
    text-decoration: none;
}

.feed .caption .time {
    font-size: 10px;
    color: var(--basecolorDetails);
}  */
