/* .Container {
    max-width: 300px;
    background: var(--primary);
    overflow: hidden;
    border-radius: 10px;
    color: var(--basecolorDetails);
    height: 100%;
    margin: auto;
    margin-top: 150px;
    text-align: center;
} */
